* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
html {
	font-size: 20px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	background: #005c00;
}
a {
	text-decoration: none;
	color: #f6a057;
	font-weight: bold;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

section {
	margin-bottom: 70px;
}

/* Stylowanie całego paska przewijania */
::-webkit-scrollbar {
	width: 10px; /* Szerokość paska przewijania */
}

/* Stylowanie tła paska przewijania */
::-webkit-scrollbar-track {
	background: #d2b48c;
}

/* Stylowanie uchwytu paska przewijania */
::-webkit-scrollbar-thumb {
	background: #00800052;
}

/* Stylowanie uchwytu paska przewijania podczas najechania */
::-webkit-scrollbar-thumb:active {
	background: #008000;
}

h2 {
	font-family: 'Nerko One', sans-serif;
	background-color: #967969;
	z-index: 1;
	border-radius: 30px;
	color: #f6a057;
	font-size: 2.5rem;
	margin-bottom: 20px;
	padding: 20px 20px;
	text-align: center;
}

h1 {
	font-family: 'Nerko One', sans-serif;
	z-index: 1;
	color: #f6a057;
	font-size: 3.5rem;
	margin-bottom: 10px;
	text-align: center;
}

/* Navbar */
.navbar {
	display: flex;
	padding: 10px 0px;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: #66bb6a;
}

.navbar .container {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

/* Usunac przy zmianie loga */
.navbar .container .logo {
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-size: 1.5rem;
	font-family: 'Nerko One', cursive;
	font-weight: 600;
}

.navbar .container .logo a {
	display: flex;
}

.navbar .container .logo img {
	max-width: 80px;
	margin-right: 5px;
}

.main-menu {
	display: flex;
}

.main-menu ul {
	display: flex;
}

.main-menu ul li a {
	padding: 10px 20px;
	margin: 10px;
	display: block;
	font-weight: 600;
	transition: 0.5s;
	border-radius: 30px;
}

.buybutton a {
	padding: 15px 25px;
	display: block;
	font-size: 1.25rem;
	background: #f6a057;
	border-radius: 30px;
	margin-right: 20px;
	color: white;
}

.main-menu ul li p {
	padding: 10px 20px;
	margin: 10px;
	display: block;
	font-size: 1.25rem;
	font-weight: 600;
	transition: 0.5s;
	background: #66bb6a;
	border-radius: 30px;
	cursor: default;
	border: 2px solid #f6a057;
	color: #f6a057;
}

.socials ul {
	margin-left: 20px;
	font-weight: 600;
	gap: 5px;
	font-size: 1.7rem;
}

.socials ul a:hover,
.navbar ul li a:hover,
.buybutton a:hover,
.mobile-buybutton a:hover {
	color: #f6a057;
	transition: 0.5s;
}

/* Dropdown Menu */
.menu-dropdown {
	position: relative;
	color: #ad8605;
}

.menu-dropdown.active {
	background-color: transparent;
}

.dropdown {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #66bb6a;
	z-index: 999;
	border-radius: 20px;
	flex-direction: column;
	box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}

.menu-dropdown .dropdown li {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

/* Utility Classes */

.container {
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 15px 0px;
}

.container-sm {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 5px 0px;
}

/*Text Classes */
.text-xxl {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 40px 0 20px;
}

.text-xl {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 20px;
}

.text-l {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 30px 0 20px;
}

.text-m {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 20px 0 10px;
}

.text-s {
	font-size: 0.9rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 10px 0 5px;
}

.text-center {
	text-align: center;
}

/*Welcome section*/
.welcome {
	/* background-image: url('/images/IndexBG.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100vh; */
}

.welcome-content {
	text-align: center;
	align-items: center;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	gap: 20px;
}

.welcome-content p {
	color: white;
	z-index: 1;
	flex-direction: column;
	border-radius: 30px;
}

/*Rich Rex section*/
.richrex-content div {
	text-align: center;
	/* padding: 15px 0px 15px 0px; */
	/* background: #333; */
	margin-bottom: 30px;
	text-align: center;
	align-items: center;
	display: flex;
}
.richrex p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 20px 20px;
	border-radius: 30px;
}
/* Gallery section */
.gallery-slider {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.gallery-slide {
	display: none;
	text-align: center;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
	opacity: 1;
}

.gallery-slide img {
	width: auto;
	max-height: 700px;
}

.gallery-slide p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 10px 10px;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.prev,
.next {
	background: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 15px;
	color: whitesmoke;
	font-weight: bold;
	font-size: 2rem;
	transition: 0.6s ease;
	user-select: none;
	transform: translateY(-50%);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	color: #f6a057;
}

.dots-container {
	margin-top: 10px;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #f6a057;
}

/* Swipe animation */
@keyframes fade-in {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

.fade-in {
	animation: fade-in 1s forwards;
}

.fade-out {
	animation: fade-out 1s forwards;
}

/* Tokenomics */
.tokenomics .tokenomics-content {
	margin-top: 20px;
	text-align: center;
	align-items: center;
	display: flex;
	/* background: #333; */
	margin-bottom: 30px;
	padding: 15px 15px;
}

.tokenomics p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	padding: 10px 10px;
	border-radius: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.tokenomics-content img,
.richrex-content img {
	width: auto;
	max-height: 400px;
}

.tokenomics .tokenomics-content p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 15px 15px;
	border-radius: 30px;
	margin-bottom: 20px;
	text-align: center;
}
/* FAQ */
.faq-container {
	/* background: #333; */
	color: whitesmoke;
}
.faq .faq-img {
	display: flex;
	align-items: center;
}

.faq img {
	width: 120px;
}

.faq .faq-group {
	border-bottom: 2px solid #ad8605;
}

.faq .faq-group .faq-group-header {
	padding-top: 15px;
	margin-bottom: 20px;
	position: relative;
}

.faq .faq-group .faq-group-header h4 {
	font-weight: 500;
	width: 95%;
}

.faq .faq-group .faq-group-header i {
	position: absolute;
	right: 0;
	top: 35px;
	font-size: 1.3rem;
	cursor: pointer;
}

.faq .faq-group .faq-group-body {
	display: none;
	overflow: hidden;
	margin-bottom: 15px;
}

.faq .faq-group .faq-group-body.open {
	display: block;
	margin-bottom: 15px;
}

/* Footer */

.footer-grid img {
	max-width: 80px;
	margin-right: 10px;
}

.footer {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	color: #fff8e1;
	background: #5c4033;
}

.footer-grid {
	display: grid;
	grid-template-columns: 0.5fr 0.2fr 0.5fr;
	gap: 10px;
	margin-bottom: 30px;
}

.footer ul {
	line-height: 2;
}

.footer i {
	color: white;
	font-size: 1rem;
}

.footer .footer-grid div {
	text-align: center;
}

.footer .container .address {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
}

.disclaimer {
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
}

.footer .container a {
	padding: 0px;
	margin: 0px;
	color: #66bb6a;
}

.footer .container a:hover {
	color: gold;
	transition: 0.5s;
}
/*Hamburger Button */
.hamburger-button {
	position: absolute;
	text-align: center;
	background: none;
	border: none;
	cursor: pointer;
	padding: 15px 15px;
	z-index: 1001;
	display: none;
	right: 10px;
	top: 15px;
}

.hamburger-button i {
	font-size: 40px;
	color: #333;
}

/*Mobile Menu */
.mobile-buybutton a {
	margin: 20px 10px;
	padding: 15px 25px;
	display: block;
	font-size: 1rem;
	background: #008000;
	border-radius: 30px;
}

.mobile-menu {
	position: fixed;
	top: 110px;
	right: -300px;
	width: 250px;
	height: 100%;
	z-index: 100;
	background: #d2b48c;
	transition: right 0.3s ease-in-out;
	text-align: center;
	overflow: auto;
	white-space: nowrap;
}

.mobile-menu.active {
	right: 0;
}

.mobile-menu ul li a {
	padding: 10px 5px;
	background: #66bb6a;
	display: block;
	font-weight: 600;
	font-size: 0.75rem;
	transition: 0.5s;
	border-radius: 30px;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.mobile-menu ul p {
	margin-bottom: 10px;
	padding: 10px;
	background: #997463;
	color: #fff;
	cursor: default;
}

/*Media Queries */
@media (max-width: 900px) {
	html {
		font-size: 18px;
	}
	.welcome-content {
		display: block;
	}
}

@media (max-width: 700px) {
	html {
		font-size: 16px;
	}

	.navbar {
		display: inline-block;
		align-items: left;
	}
	.navbar .container {
		padding: 5px 10px;
	}
	.navbar .main-menu {
		display: none;
	}
	.hamburger-button {
		display: block;
	}
	.navbar .container .buybutton {
		display: none;
	}
	/* .navbar .container .logo {
		margin-right: 20px;
	}
	.navbar .container .logo img {
		max-width: 70px;
		margin-right: 5px;
	} */
	.navbar .socials ul {
		display: flex;
		padding: 10px 10px;
		margin: 0px;
	}

	.richrex-content div {
		display: block;
	}

	.next,
	.prev {
		display: none;
	}
	.gallery-slide {
		padding: 5px;
		margin: 0;
		height: 400px;
	}
	.gallery-slider {
		padding: 0;
		margin: 0;
	}
	.address {
		word-wrap: break-word;
	}

	.footer .container .footer-grid {
		display: block;
	}
	.footer .container .footer-grid div {
		margin-bottom: 30px;
	}
	.tokenomics .tokenomics-content {
		display: block;
	}
	.faq .faq-img {
		display: block;
		text-align: center;
	}
}

@media (max-width: 300px) {
	html {
		font-size: 10px;
	}
}
