* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Poppins', sans-serif;
	font: size 16px;
	line-height: 1.5;
	background: #f0d1a9;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

/* Navbar */
.navbar {
	display: flex;
	background: #d2b48c;
	padding: 5px 0px 0px 0px;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar .container {
	display: flex;
	justify-content: left;
	align-items: center;
}

/* Usunac przy zmianie loga */
.navbar .logo {
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-size: 30px;
	margin-bottom: 5px;
	font-family: 'Nerko One', cursive;
	font-weight: 400;
	font-style: normal;
}
.navbar .logo a {
	display: flex;
}

.logo img {
	max-width: 80px;
	margin-right: 5px;
}

.navbar .main-menu ul {
	display: flex;
}

.navbar .container .main-menu ul li a {
	padding: 10px 20px;
	margin: 10px;
	display: block;
	font-weight: 700;
	transition: 0.5s;
	background-color: lightgreen;
	border-radius: 30px;
	cursor: pointer;
}
.non-clickable {
	pointer-events: none;
	cursor: default;
}
.navbar .socials ul {
	margin: 20px;
	display: flex;
	font-weight: 600;
	transition: 0.5s;
	cursor: pointer;
	gap: 5px;
}

.navbar .socials ul a {
	font-size: 25px;
}

.navbar .socials ul a:hover,
.navbar ul li a:hover {
	color: white;
	transition: 0.5s;
}

/* Dropdown Menu */
.menu-dropdown {
	position: relative;
	display: inline-block;
}

.menu-dropdown .dropdown {
	display: none;
	position: absolute;
	background-color: #d2b48c;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	flex-direction: column;
	border-radius: 20px;
}

.menu-dropdown .dropdown li {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

.menu-dropdown .dropdown li a {
	color: black;
	display: block;
}

.menu-dropdown:hover .dropdown {
	display: block;
}

/* Utility Classes */

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px 0px;
}

.container-sm {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px 0px;
}

/*Text Classes */
.text-xxl {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 40px 0 20px;
}

.text-xl {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 20px;
}

.text-l {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 30px 0 20px;
}

.text-m {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 20px 0 10px;
}

.text-s {
	font-size: 0.9rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 10px 0 5px;
}

.text-center {
	text-align: center;
}

/*Welcome section*/
.welcome-content {
	margin-top: 120px;
	text-align: center;
}

.welcome-content p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 20px 20px;
	border-radius: 30px;
	margin: 20px;
}

/*Rich Rex section*/
.richrex .welcome-content {
	margin-top: 30px;
}

/* News section */
.news-slider {
	position: relative;
	max-width: 900px;
	margin: auto;
	overflow: hidden;
	margin-top: 50px;
}

.news-slide {
	display: none;
	text-align: center;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
	opacity: 1;
}

.news-slide img {
	width: auto;
	max-height: 100%;
}

.news-slide p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 10px 10px;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.prev,
.next {
	background: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 15px;
	margin-top: 0px;
	color: black;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	user-select: none;
	transform: translateY(-50%);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	color: #ffffff;
}

.dots-container {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Swipe animation */
@keyframes fade-in {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

.fade-in {
	animation: fade-in 1s forwards;
}

.fade-out {
	animation: fade-out 1s forwards;
}

/* Tokenomics */
.tokenomics .tokenomics-content {
	margin-top: 20px;
	text-align: left;
	display: flex;
}

.tokenomics p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 10px 5px;
	border-radius: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.tokenomics .tokenomics-content img {
	width: auto;
	max-height: 400px;
}

.tokenomics .tokenomics-content p {
	color: aliceblue;
	background-color: #967969;
	z-index: 1;
	flex-direction: column;
	padding: 10px 5px;
	border-radius: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.tokenomics .container .tokenomics-content .tokenomics-text {
	margin: auto;
	width: 50%;
}

/* FAQ */
.faq .faq-img {
	display: flex;
	align-items: center;
}

.faq img {
	width: 120px;
}

.faq .faq-group {
	border-bottom: 2px solid #ad8605;
	margin-bottom: 20px;
}

.faq .faq-group .faq-group-header {
	padding-top: 15px;
	margin-bottom: 20px;
	position: relative;
}

.faq .faq-group .faq-group-header h4 {
	font-weight: 500;
	width: 95%;
}

.faq .faq-group .faq-group-header i {
	position: absolute;
	right: 0;
	top: 35px;
	font-size: 1.3rem;
	cursor: pointer;
}

.faq .faq-group .faq-group-body {
	display: none;
	overflow: hidden;
	margin-bottom: 15px;
}

.faq .faq-group .faq-group-body.open {
	display: block;
	margin-bottom: 15px;
}

.faq .container {
	padding-top: 20px;
}

/* Footer */

.footer .container .footer-grid img {
	max-width: 80px;
	margin-right: 10px;
}

.footer {
	padding: 40px 0;
	background: #5c4033;
}

.footer .container .footer-grid {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
	gap: 10px;
	justify-content: center;
	margin-bottom: 30px;
}

.footer .container .footer-grid ul li a {
	display: block;
}

.footer h4 {
	margin-bottom: 10px;
}

.footer ul {
	line-height: 2;
}

.footer ul li a {
	color: olive;
}

.footer .footer-grid div {
	text-align: center;
}
.footer .container .address {
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #ad8605;
}
.footer .container .disclaimer {
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}

/*Hamburger Button */
.hamburger-button {
	position: absolute;
	text-align: center;
	right: 20px;
	top: 16px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	margin-right: 10px;
	z-index: 1000;
	display: none;
}

.hamburger-button i {
	width: 30px;
	font-size: 30px;
}

/*Mobile Menu */
.mobile-menu {
	position: fixed;
	top: 50px;
	right: -300px;
	width: 250px;
	height: 100%;
	z-index: 100;
	background: #d2b48c;
	transition: right 0.3s ease-in-out;
	text-align: center;
	overflow: auto;
	white-space: nowrap;
}

.mobile-menu.active {
	right: 0;
}

.mobile-menu ul {
	margin: 15px;
	font-weight: 600;
}
.mobile-menu div {
	margin-top: 30px;
}

.mobile-menu ul li {
	background-color: lightgreen; /* Same as main menu */
	padding: 5px 0px;
	margin: 0px;
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
	font-size: 13px;
	transition: 0.5s;
	border-radius: 30px;
}
.mobile-menu ul p {
	margin-bottom: 10px;
}

/*Media Queries */
@media (max-width: 960px) {
}

@media (max-width: 700px) {
	.navbar {
		display: block;
	}
	.navbar .main-menu {
		display: none;
	}
	.navbar .hamburger-button {
		display: block;
		top: 5px;
		right: 0px;
	}
	.navbar .hamburger-button i {
		color: #333;
	}

	.navbar .container .logo {
		margin-right: 20px;
		font-size: 20px;
	}
	.navbar .container .logo img {
		max-width: 50px;
		margin-right: 0px;
	}
	.navbar .socials ul {
		display: flex;
		padding: 0px 10px;
		margin: 0px;
	}
	.navbar .socials ul li {
		margin: 0 5px; /* Adjust spacing between social icons */
	}
	.welcome .welcome-content {
		margin-top: 80px;
	}
	.next,
	.prev {
		display: none;
	}
}

@media (max-width: 500px) {
}
